extends layout

block content
  .container
    .row
      .col-md-12
        h1.about About Us
        .well
          p
            | I am an IT professional with experience in both hardward and software troubleshooting. I gained experience repairing business applications in both small business and corporate environments. These services are delivered in a transparent and preventative manner. When you pay for my time I will repair your issues and share things that you can do to keep things working well into the longest future. 
