extends layout

block content
  .jumbrotron
    .container
      .row
        div(class='col-md-7 col-sm-10')
          h1 Tech Troubles
          p
            | Is your computer running slow or not at all? Is your phone battery not holding a charge? Send a message using the contact form.
          p
            button.btn.btn-default(type='submit' style='background-color:#F64C72; color:#F8F8FF') Read More
        div(class='col-md-5 col-sm-10')
          img(src='images/battery-charging-device-586340 copy.jpg' style='width:100%')
  .row
    div(class='col-md-4 col-sm-12')
      .well
        h4 Hardware Problems
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div(class='col-md-4 col-sm-12')
      .well
        h4 Software Problems
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    div(class='col-md-4 col-sm-12')
      .well
        h4 PC Tune Up
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
