extends layout

block content
  .jumbrotron
    .container
      .row
        div(class='col-md-7 col-sm-10')
          h1 Tech Troubles
          p
            | Is your computer running slow or not at all? Is your phone battery not holding a charge? Send me a message using the contact form.
          p
            button.btn.btn-default(type='submit' ) Read More
        div(class='col-md-5 col-sm-10')
          img(src='images/battery-charging-device-586340 copy.jpg' id="jumboImage" style='width:100%')
  .row
    div(class='col-md-4 col-sm-12')
      .well
        h4 Hardware Problems
        p
          | Hardware issues can be a real pain. Random shutdowns, poor performance, overheating, memory errors, and notifications from your system can all be signs of hardware issues. A free diagnostic is the best way to determine whats going on with your device as well as potential remedies.
    div(class='col-md-4 col-sm-12')
      .well
        h4 Software Problems
        p
          | Whether your device is handheld or rests on your desktop, software is what makes things happen. Software is complex, with thousands of line of code coming together to make things work. Sometimes things go wrong and careful troubleshooting is required.
    div(class='col-md-4 col-sm-12')
      .well
        h4 PC Tune Up
        p
          | As computers age, things break down. There are things to do to increase the life of your computer. 
