body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7d6bf !important;
}

nav {
  background-color: #001244;
  color: #F8F8FF !important;

}

.navbar-brand  {
  color: #F8F8FF !important;
}

.jumbrotron  {
  border: solid #005086;
  background-color: #005086;
}

.container {
  margin-top: 2rem;
}


.well  {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #318fb5;
}

button {
  background-color: #b0cac7 !important;

}

a {
  color: #00B7FF;
}

p  {
  color: #F8F8FF;
}

#toggler-bone {
  background-color: #F8F8FF;
}

h1 {
  color: #F8F8FF;
}

h4  {
  color: #F8F8FF;
  border-bottom: solid #F8F8FF;
}

h1.about  {
  border: solid #005086;
  width: 10rem;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #005086;
  color: #F8F8FF;
}

h1.services  {
  border: solid #005086;
  width: 10rem;;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #005086;
  color: #F8F8FF;
}

h1.contact  {
  border: solid #005086;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #005086;
  color: #F8F8FF;
}

#contactDesc  {
  border: solid #318fb5;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #318fb5;
  color: #242582;
}

@media only screen and (max-width: 550px)  {

  nav {
    background-color: #001244;
    color: #F8F8FF !important;

  }

  .navbar-brand  {
    color: #F8F8FF !important;
  }

  .jumbrotron  {
    border: solid #005086;
    background-color: #005086;
  }

  .container {
    margin-top:5px;
  }

  .well  {
    margin-top:5px;
    padding: 5px;
    background-color: #318fb5;
  }

  p  {
    color: #F8F8FF;
  }

  #toggler-bone {
    background-color: #F8F8FF;
  }

  h1 {
    color:  #F8F8FF;
  }

  h1.about  {
    border: solid #005086
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #005086;
    color:  #F8F8FF;

  }

  h1.services  {
    border: solid #005086;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #005086;
    color: #F8F8FF;
  }

  h1.contact  {
    border: solid #005086;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #005086;
    color: #F8F8FF;
  }

  h4  {
    color: #F8F8FF;
    border-bottom: solid #F8F8FF;
  }

  #contactDesc  {
    border: solid #318fb5;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #318fb5;
    color: #242582;
  }

}

footer  {
  background-color: #001244;
  border: solid #001244;
  width: 100%;
  text-align: center;
}
